---
layout: default
title: Home
---

<section class="post-list">
  <div class="container">
    {% assign items = site.pslides | sort: 'date' | reverse %}
    {% for post in items %}
      {% assign currentdate = post.date | date: "%Y" %}
      {% if currentdate != date %}
        {% unless forloop.first %}</ul>{% endunless %}
        <h2 class="category-title">{{ currentdate }}</h2>
        {% assign date = currentdate %}
      {% endif %}
      <article class="post-item">
        <span class="post-meta date-label">{{ post.date | date: "%b %d" }}</span>
        <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
      </article>
      {% if forloop.last %}{% endif %}
    {% endfor %}
  </div>
</section>
