<section class="intro">
  <div class="container">
    <p class="lead">
      <!--
      Hi, 我是来自珠海的 <strong class="author-name" itemprop="name"><a href='/cv.html'>XH</a></strong>, 现在是<a href="http://www.moresmart.com">珠海多士科技</a>的一名<em itemprop="jobTitle">工程师</em><br>
      除了工作我还喜欢听耳机、拍照、电子DIY</br>
      Hi, This is <strong class="author-name" itemprop="name"><a href='/cv.html'>Xuhui</a></strong> from Zhuhai.
      -->
      你好，欢迎来到我的博客。我是码农（aka程序猿）也是焊工（aka电子工程师），我在视频平台上通常叫 <strong class="author-name" itemprop="name">EE</strong>，例如<a href="https://space.bilibili.com/629933338">这里</a>和<a href="https://www.ixigua.com/home/3051896750999736">这里</a>，闲暇时间喜欢到处瞎逛、喜欢拍照。新的一年，我还想把一些心得和一些照片整理出来。。
    </p>
  </div>
</section>
