
<nav class="nav">
  <div class="container">
    <h1 class="logo">

      <a href="{{ '/' | prepend: site.baseurl }}"><img src="/images/father-and-son-1449578042WFI.jpg" href="{{ '/' | prepend: site.baseurl }} "alt="" style="width:50px;height:50px;border-radius:100px">
      {{ site.title }}<span>{{ site.title2 }}</span></a>


    </h1>
    <ul class="navbar"> <!--
      <li><a href="{{ 'http://www.soundnodes.com' | prepend: site.baseurl }}">SOUNDNODES</a></li>
-->
      <li><a href="{{ '/ee.html' | prepend: site.baseurl }}">EE</a></li>
      <li><a href="{{ '/sees.html' | prepend: site.baseurl }}">SEES</a></li>
      <li><a href="{{ '/photo.html' | prepend: site.baseurl }}">拍照</a></li>
      <li><a href="{{ '/travel.html' | prepend: site.baseurl }}">心得</a></li>
      <li><a href="{{ '/more.html' | prepend: site.baseurl }}">其它</a></li>
      <!--
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">RSS</a></li>
      -->
    </ul>
  </div>
</nav>
